<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>html-nodejs 보일러플레이트</title>

  <!-- css import -->
  <link rel="stylesheet" href="stylesheets/index.css" />

  <!-- jquery import -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>

</head>

<body>

  <h1>html-nodejs 보일러플레이트</h1>


  <!-- js import -->
  <script src="javascripts/job.js"></script>
</body>

</html>